body {
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-family: var(--ff);
}

.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}
